.mt-20{
    margin-top: 10rem !important;
}
.mt-10{
    margin-top: 5rem !important;
}

.pl-10{
    padding-left: 7rem !important;
}

.section-a{
    background-image: url("../images/about.jpg");
    background-repeat:no-repeat ;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 130px;
    background-attachment: fixed;

}


.section-h{
    color:white;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
   text-align: center;

}

/*nav*/
.nav-masthead .nav-link {
    font-weight: bold;
    font-size: 14px;
    color: #454b53;
    background-color: transparent;
    border-bottom: .10rem solid transparent;
    font-family: "Poppins", sans-serif;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: #00cf98;
    color: #00cf98;
}

/*Slider*/
.slider-c{
    display: block;
    position: relative;
    right:50px;
    bottom:260px;
    float:left;
}

.header-text-s{
    font-size: 45px;
    font-family:'Poppins', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.95);
    float: left;
}

.p-txt{
    font-size: 16px;
    font-family:'Poppins', sans-serif;
    color: #efefef;
    float: left;
    text-align: justify;
}

.btn-sl {
    color: #464646 !important;
    background-color: #ffffff;
    right: 75%;
    top:150px;
    position: relative;
}

.btn-sl:hover {
    color: #fff!important;
    background-color: #464646;
}
.btn-sl:focus, .btn-sl.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/*Working Process*/


.icon-responsive{
    height:50%;
    width: 50%;
}


.header-title{
    font-size: 30px;
    font-family:'Poppins', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #041926;
}

.header-text{
    letter-spacing: 1px;
    color: #041926;
}

.center{
    display: block;
    padding: 70px 0;
    text-align: center;

}

.img-w {
    vertical-align: 30px;
    border-style: none;
}

.pera-header{
    font-size: 18px;
    font-family:'Poppins', sans-serif;
    font-weight: revert;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #041926;
}

.pera-text{
    font-size: 14px;
    text-align: justify;
    color: #7c7c7c;
}


/*About*/


.list {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    float: left;
    padding-top: 5px;
    padding-bottom: 100px;
}


.img-icon {
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}


/*Search Your Website*/

.search-bg{
    background-color: #00cf98;
}


.s-header-title{
    font-size: 30px;
    font-family:'Poppins', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.s-header-text{
    letter-spacing: 1px;
    color: #ffffff;
}

.btn-s {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding-left: 50px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0 20px 20px 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-red {
    color: #fff;
    background-color: #f03d58;
    padding-right: 40px;
    text-transform: uppercase;
}

.search-input{
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    line-height: 1.5;
    color: #ffffff;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ffffff;
    border-radius: 20px 0 0 20px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.input-group > .search-input:not(:last-child), .input-group > .custom-select:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group > .search-input, .input-group > .custom-select, .input-group > .custom-file {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

/*Our Services*/

.header-title-service{
    font-size: 30px;
    font-family:'Poppins', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    color: #041926;
}

.header-text-service{
    letter-spacing: 1px;
    color: rgba(117, 117, 117, 0.92);
}

.btn-service {
    border: 2px solid #00ad67; !important;
    border-radius: 50px; !important;
    margin-top: 18px;
   }




/*Team*/



.img-round{
    border-radius: 50%;
    width:55%;
    border:5px solid #00a479;
}


.team-bg{
    background-color: #00cf98;
}

.t-title{
    color:white;
    font-weight: revert;
    font-size: 17px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    padding-top:30px;
}

.t-center{
    display: block;
    padding-top:60px;
    text-align: center;

}

.t-text{

    color:white;
    font-weight: lighter;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    padding-top:0;
}

.t-icon{
    letter-spacing: 10px;
}
.t-icon a{
    background-color: transparent;
    border:1px solid white;
    color: white;
    padding: 5px 0 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.t-icon a:hover{
    background-color:white;
    color: black;
}

/*project done*/
.p-bg{
    background-image: url("../images/Layer-635.png");
}

.overlay{
    background-color: red;
}

.p-icon{
    font-size: 30px;
    color: #13cdb6;
    padding: 5px 0 5px 10px;
    text-align: center;
    display: inline-block;
}

.p-title{
    color:white;
    font-size:60px;
    font-weight: lighter;

}

.p-text{
    color:white;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}


.i{
    height:80px;
    width:1px;
    float:left;
    background-color: #7a7a7a;
    position:relative;
    left: 270px;
    bottom:100px;
}

/*price*/
.price {
    position: relative;
    font-size: 50px;
    color: #00D097;
    line-height: 1em;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}


.text-t{
    color:#00D097;
    font-size: 100px;
}

.text-i{
    color: #e93b46;
    font-size: 50px;

}
.text-d{
    color:#00D097;
}
/*get started*/

.g-bg{
    background-color: #fd6058;
    padding:50px;
    margin-top:50px;
}


.g-text{
    float: left;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

/*footer*/

.f-bg{
    background-color: #1f1f1f;
}

.site-info {
    text-align: center;
    padding: 35px 0;
    border-top: 1px solid #949494;
    font-weight: 300;
    font-size: 16px;
    color: #949494;
}


.btn-f {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding-left: 10px;
    font-size: 1rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-blue {
    color: #fff;
    background-color: #00c8d8;
    padding: 8px 10px 8px 10px;
    text-transform: uppercase;
}

.f-input{
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    line-height: 1.5;
    color: #5f5f62;
    background-color: #454b53;
    background-clip: padding-box;
    border: 1px solid #454b53;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.input-group > .f-input:not(:last-child), .input-group > .custom-select:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group > .f-input, .input-group > .custom-select, .input-group > .custom-file {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}


.f-icon{
    letter-spacing: 4px;
}
.f-icon a{
    color: white;
    padding: 0 0 25px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.center-f{
    display: block;
    padding: 110px 0;
    padding-left:90px;
    text-align: center;
    float:right;

}


.list-f {
    list-style: none;
    float: left;
    padding-top: 10px;
    padding-left: 200px;
    padding-bottom: 100px;
    color:#949494;
}

.text-f{
    float: left;
    padding-top: 90px;
    padding-left: 200px;
    padding-bottom: 10px;
    color:#949494;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.list-f li{
    padding-bottom: 5px;
}

.icon-f{
    color: #bdbdbd;
}

.center-logo{
    display: block;
    position: relative;
    top:150px;
    float:left;
}